body{
    margin:0px;
    background-color: #F3F8FB;
}

/*Navbar*/
  .topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 2px 2px 1px;
    position: fixed;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
  }
  
  .topnav a:hover {
    background-color: #00C9CC;
    color: black;
  }
  
  .topnav a.split {
    float: right;
    color: white;
  }

  .topnav .nav-logo:hover{
    background-color: #333;
    color:white;
  }

  /*Header*/

  .main-logo img{
    margin-top: 5%;
    height: 20%;
    width: 20%;
  }

  .main-logo h3{
    font-family:"Nunito", sans-serif;
    font-size: 23px;
    color: #070721;
    font-weight: 800;
  }


  /*images*/
  div.scroll-container {
    background: linear-gradient(to right, #00C9CC,#B1217A);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 2%;
  }
  
  div.scroll-container img {
    padding: 10px;
    width: 50%;
    height: 50%;
  }




/*ABOUT*/

.title h1{
    color: #070721;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.title h1:hover{
    color: #00C9CC;
    transition: 0.4s ease-in-out;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card h1{
  font-size: 20px;
}

.designation{
  color: grey;
  font-size: 14px;
}

/*cards position*/

.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.column:hover{
  margin-top: -2%;
  transition: 0.5s ease-in-out;
  opacity: 70%;
}

.about {
  border: 4px solid #00C9CC;
  border-radius: 10px;
  margin: 2%;
}

.about p{
  margin: 100px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}


/*faq*/
.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #4535AC;
  color: white;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}


/*footer*/
.copyright{
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 10px;
}